* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  main {
    width: 100%;
  }
  
  #presentacion {
    margin-top: 90px;
    scroll-margin-top: 5rem;
    width: 100%;
    display: block;
    height: 100vh;
    margin-bottom: 20px;
    justify-content: center;
  }

  #presentacion .izquierda {
    width: 90%;
    left: 6vh;
  }

  #presentacion .izquierda h1 {
    width: 90%;
    font-size: 3rem;
  }

  #presentacion .izquierda h2 {
    width: 90%;
    font-size: 2rem;
  }

  .izquierda p{
    width: 90%;
    font-size: 1rem;
  }

  #presentacion .derecha {
    width: 100%;
    margin-top: 90px; 
    text-align: center;
  }

  .derecha img {
    width: 40%;
    height: 20%;
    left: 0vh;
  }

  .btn-follow{
    left: 75%;
  }

  #about-me {
    scroll-margin-top: 5rem;
    width: 100%;
  }
  .acerca-experiencia {
    margin-left: 10%;
  }
  .icons{
    margin: auto;
    width: 100%;
    justify-content: space-between;
  }
  .styleicons {
    margin: auto;
    width: 60px;
    height: 3.2rem;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .icons .styleicons i {
    padding: 0;
    line-height: 10px;
  }

  #experiencia {
    scroll-margin-top: 8rem;
    width: 100%;
  }

  .proyectos {
    margin: auto;
    grid-template-columns: 1fr;
  }

  .seccion-proyecto {
    margin: 20px;
  }

  .arcade {
    margin: auto;
    width: 90%;
    height: auto;
    margin-right: 5%;
  }

  #gustos {
    scroll-margin-top: 7rem;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }

  .img-gustos {
    width: 100%;
  }

  #formulario {
    flex-direction: column-reverse; 
    display: flex;
    margin: 0;
    width: 100%;
    height: auto;
  }

  #formulario form {
    margin: 0;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  form h2{
    padding-top: 5px;
  }

  #formulario .espacio-git{
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .git{
    width: 90%;
    margin: auto;
  }

 input{
    margin: 15px auto 0;
    justify-items: center;
  
  }

  .cv {
    margin-top: 35px;
    padding: 10px;
    width: auto;
    height: auto;
    align-items: center;
  }

  form .envio{
    margin-left: 40% ;
  }

  #social{
    padding: 0;
  }

  #social h2{
    padding-top: 25px;
  }

  .social-links{
    margin: 0;
    width: auto;
    height: auto;
  }

  .links-social img{
    width: 60px;
    height: 60px;
  }

  .img-asideSocialNet{
    margin-top: 35px;
    gap: 40px;
    justify-content: center;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 2px solid;
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body.no-cursor {
  cursor: none;
}