* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  main {
    width: 100%;
  }

  #presentacion {
    margin-top: 90px;
    scroll-margin-top: 5rem;
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
  }

  #presentacion .izquierda {
    width: 100%;
    left: 0;
    padding: 10px;
  }

  #presentacion .izquierda h1 {
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
  }

  #presentacion .izquierda h2 {
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
  }

  .izquierda p {
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
  }

  #presentacion .derecha {
    width: 100%;
    margin-top: 90px;
    text-align: center;
  }

  .derecha img {
    width: 40%;
    height: 20%;
    left: 0vh;
  }

  .btn-follow {
    top: 83%;
    left: 70%;
  }

  #about-me {
    scroll-margin-top: 5rem;
    margin-top: 70px;
    width: 100%;
  }
  .acerca-experiencia {
    margin-left: 10%;
  }
  .icons {
    margin: auto;
    width: 100%;
    justify-content: space-between;
  }
  .styleicons {
    margin: auto;
    width: 60px;
    height: 3.2rem;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .icons .styleicons i {
    padding: 0;
    line-height: 10px;
  }

  #experiencia {
    scroll-margin-top: 8rem;
    width: 100%;
  }

  .proyectos {
    margin: auto;
    grid-template-columns: 1fr;
  }

  .seccion-proyecto {
    margin: 20px;
  }

  .arcade {
    margin: auto;
    width: 90%;
    height: auto;
    margin-right: 5%;
  }

  #gustos {
    scroll-margin-top: 7rem;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }

  .img-gustos {
    width: 100%;
  }

  #formulario {
    flex-direction: column-reverse;
    display: flex;
    margin: 0;
    width: 100%;
    height: auto;
  }

  #formulario form {
    margin: 0;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  form h2 {
    padding-top: 5px;
  }

  #formulario .espacio-git {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .git {
    width: 90%;
    margin: auto;
  }

  input {
    margin: 15px auto 0;
    justify-items: center;
  }

  .cv {
    margin-top: 35px;
    padding: 10px;
    width: auto;
    height: auto;
    align-items: center;
  }

  form .envio {
    margin-left: 40%;
  }

  #social {
    padding: 0;
  }

  #social h2 {
    padding-top: 25px;
  }

  .social-links {
    margin: 0;
    width: 15%;
    height: 15%;
  }

  .links-social img {
    width: 100%;
    height: 100%;
  }

  .img-asideSocialNet {
    margin-top: 35px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
}